//
// Component Premium
//
.badge {
  &::after {
    background-color: #f7941d;
    border-radius:    2px;
    color:            #fff;
    content:          'Premium';
    font-size:        10px;
    margin:           .9em;
    padding:          .53em .95em;
    text-transform:   uppercase;
  }
}

// Apply the badge element.
label[for|="placeholder_premium"],
label[for="locations-nav_search"] {
  @extend .badge;
}

// Admin Menu Items
a[href="edit.php?post_type=listings&page=listing_package"] {
  @extend .badge;
  // Must not be fully visibile.
  // scss-lint:disable ImportantRule
  color:          #676767 !important;
  pointer-events: none;
  display:        inline-block;
}

//
// Buy Premium
//
.wp-admin .dlbanner-premium {
  margin-bottom: 1rem;
  padding:       2rem;

  * {
    display:    block;
    text-align: center;
  }

  h2 {
    font-size:      1.8rem;
    font-weight:    bold;
    margin:         1em;
    text-transform: uppercase;
  }

  p {
    font-size: .9rem;
    padding:   1rem;
  }

  img {
    max-width: 100%;
    margin:    0 auto;
  }

  a {
    text-decoration: none;
    max-width:       120px;
    margin:          0 auto;

    &:focus {
      box-shadow: none;
      outline:    none;
    }

    span {
      background-color: #f26522;
      border:           1px solid #f26522;
      border-radius:    .19em;
      color:            #fff;
      cursor:           pointer;
      display:          block;
      font-size:        1rem;
      font-weight:      bold;
      margin:           0 auto 1em;
      padding:          .94rem 1.25rem;

      &:hover {
        background-color: darken(#f26522, 15%);
        border-color:     darken(#f26522, 15%);
        color:            #fff;
        transition:       all 275ms ease-in-out;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

//
// MEDIA QUERIES
//
@media only screen and (min-width: 48em) {

  .wp-admin .dlbanner-premium {
    align-items:     center;
    display:         flex;
    justify-content: flex-start;
    text-transform:  uppercase;

    h2 {
      margin-bottom: 0;
      margin-top:    0;
    }

    a span {
      margin: 0;
    }

    img {
      max-width: 30%;
      margin:    0;
    }

    a span {
      width: auto;
    }
  }

}
