//
// Archive Description
//

// Listings archive Description.
.dl-is-listings-archive .dlarchive-description {
  margin:  $boxmodel_archive-description_margin;
  padding: 0 $padding-container;

  &__content {
    margin: ($global-vertical-margin / 2) 0;
  }
}

//
// MEDIA QUERIES
//
@media only screen and (min-width: map-get($breakpoints, 'nm')) {

  .dl-is-listings-archive .dlarchive-description {
    padding: 0 $global-horizontal-padding;
  }

}
