//
// Components Protected Password Form
//
.post-password-form {
  // Password Input
  input[name="post_password"] {
    border-bottom-right-radius: 0;
    border-top-right-radius:    0;
    // Yeah I know, but I'm tired to make a custom password protected function.
    // This is just a workaround, the custom template will be implemented in a future version.
    height:                     61px;
    margin:                     0;
  }

  // Submit button
  input[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius:    0;
    // Same above.
    height:                    61px;
    margin-left:               -4px;
  }
}
