//
// Listings Toolbar Component
//
.dllistings-toolbar {
  @include flexboxtweener((-ms-flex-align:center));
  align-items:     center;
  display:         flex;
  justify-content: space-between;
  margin:          1.95em 0;
  padding:         0;
}

//
// Form filter Map variants
//
.dl-is-listings-archive {
  // Map variant
  &--with-map .dllistings-toolbar {
    margin-bottom: 0;
    padding-left:  $padding-container;
    padding-right: $padding-container;
  }
}

//
// MEDIA QUERIES
//
@media only screen and (min-width: 64em) {

  //
  // Form filter Map variants
  //
  .dl-is-listings-archive {
    // Map variant
    &--with-map .dllistings-toolbar {
      padding-left:  $global-horizontal-padding;
      padding-right: $global-horizontal-padding;
    }
  }

}
