//
// Components Filters Toggler
//
.dltoggler {
  @extend .dlbtn;
  background-color: lighten($color-gray--light, 35%);
  border:           1px solid $color-border;
  color:            $color-gray;

  // The icon associated to the filter btn.
  i {
    display:     inline-block;
    margin-left: .63em;
  }
}

#dllistings_filter_toggler.dllistings-toggler--active {
  left: $global-horizontal-margin;
}

#dllistings_map_toggler.dllistings-toggler--active {
  right: $global-horizontal-margin;
}

//
// Togglers No Map Variant
//
.dl-is-listings-archive--no-map {
  .dltoggler {
    @include btn--tiny;
  }
}

//
// MEDIA QUERIES
//

@media only screen and (max-width: 63.94em) {

  //
  // Togglers No Map Variant
  //
  .dl-is-listings-archive--with-map {
    .dltogglers {
      @include flexboxtweener;
      bottom:          0;
      display:         flex;
      justify-content: space-between;
      left:            0;
      position:        fixed;
      right:           0;
      // Below the filters form.
      z-index:         9897;
    }

    .dltoggler {
      // Remove the btn border radius.
      border-radius: 0;
      flex-basis:    50%;
      -ms-flex:      1 0 auto;
      text-align:    center;
    }
  }

}

@media only screen and (min-width: 64em) {

  .dltogglers {
    clear:  none;
    float:  right;
    margin: 0;
  }

  .dltoggler {
    @include btn--tiny;
  }

}
